<section id="portfolio" [ngStyle.lt-md]="{'margin-top': '30px', 'margin-bottom': '30px'}">
  <div class="container portfolio-card">

    <div class="portfolio-section portfolio-heading mat-typography" fxLayout="column" fxLayoutAlign="center center">
      <div>
        <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Portfolio</h2>
      </div>
      <div>
        <h4 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">Agri-Analytico was founded in
          August 2018 as part of the ZICTA Innovation Programme. Here are some highlights of the progress made so far.
        </h4>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutGap.sm="8px">
      <div fxFlex="33.33" [about]>
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/img/proto.jpg">
          <mat-card-content>
            <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Working Prototype</h5>
            <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
              Our device currently measures soil moisture, humidity, light intensity, and temperature. It sends the data
              in real time to the cloud for analysis. The device can be easily extended to provide remote control of
              irrigation systems.
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <button class="portfolio-button" mat-icon-button>
              <mat-icon class="text-muted">link1</mat-icon>
            </button>
            <!-- <button class="portfolio-button" mat-icon-button>
              <mat-icon class="text-muted">share</mat-icon>
            </button> -->
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33" [about]>
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/img/proto.jpg">
          <mat-card-content>
            <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Mobile Application</h5>
            <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
              Using the mobile application growers can monitor the data from the sensor device. They can view the field
              parameters in real time and make informed decisions.
              <br>
              <br>
              <br>
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <button class="portfolio-button" mat-icon-button>
              <mat-icon class="text-muted">link</mat-icon>
            </button>
            <!-- <button class="portfolio-button" mat-icon-button>
              <mat-icon class="text-muted">share</mat-icon>
            </button> -->
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33" [about]>
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/img/proto.jpg">
          <mat-card-content>
            <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Future Design</h5>
            <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
              This is our envisioned design of the sensor device. It will be small, solar powered, and extensible. It
              will be Zero Maintenacne too, users will not have to change batteries or service the device.
              <br>
              <br>
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <button class="portfolio-button" mat-icon-button>
              <mat-icon class="text-muted">link</mat-icon>
            </button>
            <!-- <button class="portfolio-button" mat-icon-button>
              <mat-icon class="text-muted">share</mat-icon>
            </button> -->
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>